a {
  text-decoration: none;
  cursor: pointer;
}


/*span,div {*/
  /*cursor: default;*/
/*}*/

.clearfix:after {
  content:"";
  display: block;
  clear:both;
}

.CodeMirror {
  height: 470px!important;
}


.el-tabs__item:focus.is-active.is-focus:not(:active)  {
  outline: none;
  box-shadow: none!important;
}
.el-rate{
  height: 40px!important;
}
.el-rate__icon {
  font-size: 30px!important;
}
.el-icon-star-on {
  color: #fa7d3c!important;
}
