@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qfwkoy');
  src:  url('fonts/icomoon.eot?qfwkoy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qfwkoy') format('truetype'),
    url('fonts/icomoon.woff?qfwkoy') format('woff'),
    url('fonts/icomoon.svg?qfwkoy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e903";
}
.icon-labels:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e900";
}
.icon-notice:before {
  content: "\e901";
  color: #4d4d4d;
}
